



h1 {color:#eeffee}
strong {color:red}
p strong {color:blue}
a strong {color: orange;
    text-decoration: none}



p {
    background: #fc3; /* Цвет фона */
    border: 2px solid black;  /* Параметры рамки */
    padding: 20px; /* Поля вокруг текста */
}