

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#mainContent {
    display: grid;
    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: 60px 1fr 60px;
    height: 100%;

}
#mainContent header {
    background-color:  blue;

    grid-area: 1/2/2/4;

    /*grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;*/
}
#mainContent nav {
    background-color: beige ;

    grid-area: 1/1/4/2;


   /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;*/
}
#mainContent aside {
    background-color: coral;

    grid-area: 2/3/3/4;

    /*grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;*/
}
#mainContent section {
    background-color: darkgreen ;

    grid-area: 2/2/3/3;


   /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;*/
}
#mainContent footer {
    background-color:  yellow;

    grid-area: 3/2/4/4;

   /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;*/
}