body {




  #add, #enter  {


    width: 1200px;
    height: 500px;
    border: 1px solid black;

    input {
      margin-top: 25px;
      margin-left: 50px;


    }
    #printBlock1 {


      div {

        border: 1px solid black;
        width: 100px;
        margin-top: 10px;
        margin-left: 10px;
      }
      p {

        border: 1px solid black;
        width: 20px;



      }
    }
  }
}