


@color1: rgba(56, 42, 35, 1);
@color2: wheat;

body {

  width: 1130px;
  height: 100%;
  margin: auto;

  #part1 {
    grid-area: part1;
    background: @color1;
    #logo {

      img {
        width: 100px;
        height: 50px;
        margin-left: 15px;
        margin-top: 50px;

      }
    }
    #menu {
      margin-top: 200px;
      padding-left: 20px;

      li {
        list-style-type: none;
        a {
          text-decoration: none;

          span {
            color: white;
            font-size: 20px;
            font-family: 'Open Sans Condensed', sans-serif;
            position: relative;

          }
        }
      }
    }

    #data {
      margin-top: 50px;
      padding-left: 10px;
      p {
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-top: 20px;
        margin-left: 10px;

      }
      a {
        margin-left: 10px;
      }
    }
  }

  #part2 {
    grid-area: part2;
    background-image: url("images/wood.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    h1 {
      width: 600px;
      height: 80px;
      font-size: 50px;
      padding-left: 700px;
    }
    #block1 {

      margin-left: 625px;
      margin-top: 80px;
      border: 1px solid @color1;
      padding: 20px;
      padding-bottom: 55px;
      position: relative;
      width: 550px;
      height: 80px;
      &:before, &:after {
        content: '';
        position: absolute;
        left: 20px;
        bottom: -20px;
        border: 10px solid transparent;
        border-top: 10px solid @color1;
      }
      &:after {
        border-top: 10px solid white;
        bottom: -19px;
      }

      span {
        font-size: 40px;
        font-family: 'Open Sans Condensed', sans-serif;
      }
    }

    .we {
      width: 1000px;
      height: 80px;
      margin-top: 20px;
      margin-left: 570px;
      .block {

        display: inline-block;
        float: left;
        background: @color1;
        position: relative;
        width: 120px;
        height: 50px;
        color: @color2;
        font-size: 12px;
        margin: 30px;

        &:after {
          content: '';
          position: absolute;
          right: -45px;
          top: 0;
          border: 25px solid transparent;
          border-left: 20px solid @color1;
        }
        span {
          padding-left: 3px;
          padding-top: 9px;
          margin: 0;
        }
        p {
          padding-top: 20px;
          color: @color1;
          margin: 0;
        }
      }
    }
  }

  #part3 {
    grid-area: part3;
    height: 700px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgb(255, 255, 255)), url("images/fon.jpg");
    h2 {
      width: 600px;
      height: 80px;
      font-size: 40px;
      padding-left: 500px;
      margin-top: 70px;
      font-family: 'Oswald', sans-serif;
    }
    a {
      text-decoration: none;

      .buttonBorder {
        width: 250px;
        height: 100px;
        border: solid 1px @color2;
        display: inline-block;
        margin-left: 16px;
        margin-right: 35px;
        float: left;

        .logoback {
          position: relative;
          left: 75px;
          top: -20px;
          span {
            display: block;
            margin-left: 35px;

          }
        }
      }
      span {
        color: @color2;
        font-size: 20px;
        display: block;

      }

      button {
        width: 300px;
        height: 200px;
        background-color: @color1;
        border: solid 2px @color2;
        margin-top: 25px;
        margin-left: 70px;
        margin-bottom: 50px;
        margin-right: 50px;
        cursor: pointer;

      }
    }

  }

  #part31 {
    grid-area: part31;
    height: 700px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgb(255, 255, 255)), url("images/fon.jpg");
    input {
      border: none;
      border-bottom: 1px solid black;
      background: transparent;
    }
    textarea #message {
      border: none;
      border-bottom: 1px solid black;
      background: transparent;
      width: 250px;
    }

    h2 {
      width: 600px;
      height: 80px;
      font-size: 40px;
      padding-left: 500px;
      margin-top: 70px;
      font-family: 'Oswald', sans-serif;
    }

    .carousel {
      position: relative;
      width: 1200px;
      padding: 10px 40px;
      height: 350px;

      .carouselArticle {
        width: 1155px;
        height: 500px;
        display: inline-block;
        float: left;
        margin-left: -5px;
        img {
          width: 320px;
          height: 270px;
          /* по умолчанию inline, в ряде браузеров это даст лишнее пространство вокруг элементов */
          display: block;
          margin-right: 40px;
          margin-left: 40px;
          border: 2px solid @color1;
          float: left;

        }
        span {
          font-family: 'Open Sans Condensed', sans-serif;
          font-size: 22px;
        }

      }
      .arrow {
        position: absolute;
        top: 60px;
        padding: 0;
        background: @color1;
        border: 1px solid @color2;
        font-size: 24px;
        line-height: 24px;
        color: @color2;
        display: block;

        &:focus {
          outline: none;
        }

        &:hover {
          background: @color2;
          color: @color1;
          cursor: pointer;
        }
      }
      .prev {
        left: 7px;
      }

      .next {
        right: 7px;
      }

      .gallery {
        width: 1184px;
        overflow: hidden;
        ul {
          height: 500px;
          width: 9999px;
          margin: 0;
          padding: 0;
          list-style: none;
          transition: margin-left 250ms;
          /* remove white-space between inline-block'ed li */
          /* http://davidwalsh.name/remove-whitespace-inline-block */

          li {
            display: inline-block;

          }
        }

      }

    }

  }

  #part4 {
    grid-area: part4;
    background-color: whitesmoke;

    h2 {
      width: 600px;
      height: 30px;
      font-size: 30px;
      padding-left: 500px;
      margin-top: 5px;
    }

    .carousel {
      position: relative;
      width: 1200px;
      padding: 10px 40px;
      height: 350px;

      img {
        width: 320px;
        height: 270px;
        /* по умолчанию inline, в ряде браузеров это даст лишнее пространство вокруг элементов */
        display: block;
        margin-right: 40px;
        margin-left: 40px;
        border: 2px solid @color1;

      }

      .arrow {
        position: absolute;
        top: 60px;
        padding: 0;
        background: @color1;
        border: 1px solid @color2;
        font-size: 24px;
        line-height: 24px;
        color: @color2;
        display: block;

        &:focus {
          outline: none;
        }

        &:hover {
          background: @color2;
          color: @color1;
          cursor: pointer;
        }
      }
      .prev {
        left: 7px;
      }

      .next {
        right: 7px;
      }

      .gallery {
        width: 1200px;
        overflow: hidden;
        ul {
          height: 320px;
          width: 9999px;
          margin: 0;
          padding: 0;
          list-style: none;
          transition: margin-left 250ms;
          /* remove white-space between inline-block'ed li */
          /* http://davidwalsh.name/remove-whitespace-inline-block */

          font-size: 0;
          li {
            display: inline-block;
          }

        }

      }

    }
  }

  .spanCommon {
    display: block;
    color: @color2;
    font-size: 20px;
    width: 250px;
    height: 35px;
  }

  .bodyCommon {
    width: 250px;
    height: 100px;
    border: solid 1px @color2;
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    float: left;
  }

  #part5 {
    grid-area: part5;
    background-color: @color1;

    h2 {
      width: 600px;
      height: 30px;
      font-size: 25px;
      padding-left: 410px;
      margin-top: 5px;
      color: @color2;
    }
    #gurantyblock {
      .bodyCommon;
      .logoback {
        position: relative;
        left: 75px;
        top: -10px;
        .checked {
          position: relative;
          left: 34px;
        }
      }
      span {
        .spanCommon;
        margin-left: 60px;
        margin-top: 10px;
      }
    }
    #money {
      .bodyCommon;
      .logoback {
        position: relative;
        left: 75px;
        top: -10px;
        .gear {
          position: relative;
          left: 34px;
        }
      }
      span {
        .spanCommon;
        margin-left: 10px;
        margin-top: 5px;

      }
    }

    #guranty {
      .bodyCommon;
      .logoback {
        position: relative;
        left: 75px;
        top: -10px;
        .pyramid {
          position: relative;
          left: 34px;
        }
      }
      span {
        .spanCommon;
        margin-left: 5px;
        margin-top: 5px;
      }
    }

    #work {
      .bodyCommon;
      .logoback {
        position: relative;
        left: 75px;
        top: -10px;
        .team {
          position: relative;
          left: 34px;
        }
      }
      span {
        .spanCommon;
        margin-left: 3px;
        margin-top: 5px;

      }
    }

  }

  #part6 {
    grid-area: part6;
    background-color: @color2;

    #footer {
      list-style-type: none;
      text-decoration: none;
      margin-top: 60px;
      margin-left: 200px;

      li + li {
        border-left: solid 1px @color1;
      }

      li {
        display: inline-block;

        a {
          text-decoration: none;
          font-size: 15px;
          margin-left: 10px;
          margin-right: 10px;

          &:hover {
            background: @color1;
            cursor: pointer;
          }

          span {
            color: @color1;
            &:hover {
              color: @color2;
            }

          }
        }

      }
    }
  }
}

@import "mobile";
