body {
  width: 1130px;
  height: 100%;
  margin: auto;
}
body #part1 {
  grid-area: part1;
  background: #382a23;
}
body #part1 #logo img {
  width: 100px;
  height: 50px;
  margin-left: 15px;
  margin-top: 50px;
}
body #part1 #menu {
  margin-top: 200px;
  padding-left: 20px;
}
body #part1 #menu li {
  list-style-type: none;
}
body #part1 #menu li a {
  text-decoration: none;
}
body #part1 #menu li a span {
  color: white;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
}
body #part1 #data {
  margin-top: 50px;
  padding-left: 10px;
}
body #part1 #data p {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 20px;
  margin-left: 10px;
}
body #part1 #data a {
  margin-left: 10px;
}
body #part2 {
  grid-area: part2;
  background-image: url("images/wood.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
body #part2 h1 {
  width: 600px;
  height: 80px;
  font-size: 50px;
  padding-left: 700px;
}
body #part2 #block1 {
  margin-left: 625px;
  margin-top: 80px;
  border: 1px solid #382a23;
  padding: 20px;
  padding-bottom: 55px;
  position: relative;
  width: 550px;
  height: 80px;
}
body #part2 #block1:before,
body #part2 #block1:after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid #382a23;
}
body #part2 #block1:after {
  border-top: 10px solid white;
  bottom: -19px;
}
body #part2 #block1 span {
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
}
body #part2 .we {
  width: 1000px;
  height: 80px;
  margin-top: 20px;
  margin-left: 570px;
}
body #part2 .we .block {
  display: inline-block;
  float: left;
  background: #382a23;
  position: relative;
  width: 120px;
  height: 50px;
  color: wheat;
  font-size: 12px;
  margin: 30px;
}
body #part2 .we .block:after {
  content: '';
  position: absolute;
  right: -45px;
  top: 0;
  border: 25px solid transparent;
  border-left: 20px solid #382a23;
}
body #part2 .we .block span {
  padding-left: 3px;
  padding-top: 9px;
  margin: 0;
}
body #part2 .we .block p {
  padding-top: 20px;
  color: #382a23;
  margin: 0;
}
body #part3 {
  grid-area: part3;
  height: 700px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #ffffff), url("images/fon.jpg");
}
body #part3 h2 {
  width: 600px;
  height: 80px;
  font-size: 40px;
  padding-left: 500px;
  margin-top: 70px;
  font-family: 'Oswald', sans-serif;
}
body #part3 a {
  text-decoration: none;
}
body #part3 a .buttonBorder {
  width: 250px;
  height: 100px;
  border: solid 1px wheat;
  display: inline-block;
  margin-left: 16px;
  margin-right: 35px;
  float: left;
}
body #part3 a .buttonBorder .logoback {
  position: relative;
  left: 75px;
  top: -20px;
}
body #part3 a .buttonBorder .logoback span {
  display: block;
  margin-left: 35px;
}
body #part3 a span {
  color: wheat;
  font-size: 20px;
  display: block;
}
body #part3 a button {
  width: 300px;
  height: 200px;
  background-color: #382a23;
  border: solid 2px wheat;
  margin-top: 25px;
  margin-left: 70px;
  margin-bottom: 50px;
  margin-right: 50px;
}
body #part31 {
  grid-area: part31;
  height: 700px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #ffffff), url("images/fon.jpg");
}
body #part31 input {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
}
body #part31 textarea #message {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  width: 250px;
}
body #part31 h2 {
  width: 600px;
  height: 80px;
  font-size: 40px;
  padding-left: 500px;
  margin-top: 70px;
  font-family: 'Oswald', sans-serif;
}
body #part31 .carousel {
  position: relative;
  width: 1200px;
  padding: 10px 40px;
  height: 350px;
}
body #part31 .carousel .carouselArticle {
  width: 1155px;
  height: 500px;
  display: inline-block;
  float: left;
  margin-left: -5px;
}
body #part31 .carousel .carouselArticle img {
  width: 320px;
  height: 270px;
  /* по умолчанию inline, в ряде браузеров это даст лишнее пространство вокруг элементов */
  display: block;
  margin-right: 40px;
  margin-left: 40px;
  border: 2px solid #382a23;
  float: left;
}
body #part31 .carousel .carouselArticle span {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}
body #part31 .carousel .arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background: #382a23;
  border: 1px solid wheat;
  font-size: 24px;
  line-height: 24px;
  color: wheat;
  display: block;
}
body #part31 .carousel .arrow:focus {
  outline: none;
}
body #part31 .carousel .arrow:hover {
  background: wheat;
  color: #382a23;
  cursor: pointer;
}
body #part31 .carousel .prev {
  left: 7px;
}
body #part31 .carousel .next {
  right: 7px;
}
body #part31 .carousel .gallery {
  width: 1184px;
  overflow: hidden;
}
body #part31 .carousel .gallery ul {
  height: 500px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  /* remove white-space between inline-block'ed li */
  /* http://davidwalsh.name/remove-whitespace-inline-block */
}
body #part31 .carousel .gallery ul li {
  display: inline-block;
}
body #part4 {
  grid-area: part4;
  background-color: whitesmoke;
}
body #part4 h2 {
  width: 600px;
  height: 30px;
  font-size: 30px;
  padding-left: 500px;
  margin-top: 5px;
}
body #part4 .carousel {
  position: relative;
  width: 1200px;
  padding: 10px 40px;
  height: 350px;
}
body #part4 .carousel img {
  width: 320px;
  height: 270px;
  /* по умолчанию inline, в ряде браузеров это даст лишнее пространство вокруг элементов */
  display: block;
  margin-right: 40px;
  margin-left: 40px;
  border: 2px solid #382a23;
}
body #part4 .carousel .arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background: #382a23;
  border: 1px solid wheat;
  font-size: 24px;
  line-height: 24px;
  color: wheat;
  display: block;
}
body #part4 .carousel .arrow:focus {
  outline: none;
}
body #part4 .carousel .arrow:hover {
  background: wheat;
  color: #382a23;
  cursor: pointer;
}
body #part4 .carousel .prev {
  left: 7px;
}
body #part4 .carousel .next {
  right: 7px;
}
body #part4 .carousel .gallery {
  width: 1200px;
  overflow: hidden;
}
body #part4 .carousel .gallery ul {
  height: 320px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  /* remove white-space between inline-block'ed li */
  /* http://davidwalsh.name/remove-whitespace-inline-block */
  font-size: 0;
}
body #part4 .carousel .gallery ul li {
  display: inline-block;
}
body .spanCommon {
  display: block;
  color: wheat;
  font-size: 20px;
  width: 250px;
  height: 35px;
}
body .bodyCommon {
  width: 250px;
  height: 100px;
  border: solid 1px wheat;
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
  float: left;
}
body #part5 {
  grid-area: part5;
  background-color: #382a23;
}
body #part5 h2 {
  width: 600px;
  height: 30px;
  font-size: 25px;
  padding-left: 410px;
  margin-top: 5px;
  color: wheat;
}
body #part5 #gurantyblock {
  width: 250px;
  height: 100px;
  border: solid 1px wheat;
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
  float: left;
}
body #part5 #gurantyblock .logoback {
  position: relative;
  left: 75px;
  top: -10px;
}
body #part5 #gurantyblock .logoback .checked {
  position: relative;
  left: 34px;
}
body #part5 #gurantyblock span {
  display: block;
  color: wheat;
  font-size: 20px;
  width: 250px;
  height: 35px;
  margin-left: 60px;
  margin-top: 10px;
}
body #part5 #money {
  width: 250px;
  height: 100px;
  border: solid 1px wheat;
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
  float: left;
}
body #part5 #money .logoback {
  position: relative;
  left: 75px;
  top: -10px;
}
body #part5 #money .logoback .gear {
  position: relative;
  left: 34px;
}
body #part5 #money span {
  display: block;
  color: wheat;
  font-size: 20px;
  width: 250px;
  height: 35px;
  margin-left: 10px;
  margin-top: 5px;
}
body #part5 #guranty {
  width: 250px;
  height: 100px;
  border: solid 1px wheat;
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
  float: left;
}
body #part5 #guranty .logoback {
  position: relative;
  left: 75px;
  top: -10px;
}
body #part5 #guranty .logoback .pyramid {
  position: relative;
  left: 34px;
}
body #part5 #guranty span {
  display: block;
  color: wheat;
  font-size: 20px;
  width: 250px;
  height: 35px;
  margin-left: 5px;
  margin-top: 5px;
}
body #part5 #work {
  width: 250px;
  height: 100px;
  border: solid 1px wheat;
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
  float: left;
}
body #part5 #work .logoback {
  position: relative;
  left: 75px;
  top: -10px;
}
body #part5 #work .logoback .team {
  position: relative;
  left: 34px;
}
body #part5 #work span {
  display: block;
  color: wheat;
  font-size: 20px;
  width: 250px;
  height: 35px;
  margin-left: 3px;
  margin-top: 5px;
}
body #part6 {
  grid-area: part6;
  background-color: wheat;
}
body #part6 #footer {
  list-style-type: none;
  text-decoration: none;
  margin-top: 60px;
  margin-left: 200px;
}
body #part6 #footer li + li {
  border-left: solid 1px #382a23;
}
body #part6 #footer li {
  display: inline-block;
}
body #part6 #footer li a {
  text-decoration: none;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
body #part6 #footer li a:hover {
  background: #382a23;
  cursor: pointer;
}
body #part6 #footer li a span {
  color: #382a23;
}
body #part6 #footer li a span:hover {
  color: wheat;
}
