/*.checkbox-group input {
    opacity: 0;

}

.checkbox-group input:not(:checked) + label::before {
    content: "no";
}

.checkbox-group label::before {
    content: "yes";
    background-color: yellow;
    padding: 5px;
    margin: 5px;
    width: 30px;
    border: solid;

}*/

/*  Неверно все ниже в комментах
. {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid red;
    width: 550px;
    text-align: center;
    background-color: white;

}
.mtnu > li { display: inline-block; }
#item a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
#item a:hover {
    background-color: blue;
} */


.menu, .menu ul {
    list-style-type: none;
    background-color: #666;
    padding: 0;
    font-size: 0;
}
.menu ul {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    }
.menu ul li {
    height: 40px;
    font-size: 24px;
    position: relative;
}

.menu > li {
    display: inline-block;
    width: 25%;
    height: 40px;
    font-size: 24px;
    position: relative;

}

.menu li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    width: 100%;
    height: 100%;
    color: #fff;
}

.menu li:hover {background-color: #ccc}
.menu li:hover a {background-color: #000}

.menu ul li:hover ul {
    top: 0;
    left: 100%;
    }
.menu li:hover > ul {
    display: block;
}
.menu ul {
    display: none;
}