body {
  width: auto;
  height: 1300px;
  background-color: #bababa;
}
body #topPart {
  width: 1000px;
  height: 150px;
  margin: 0 auto;
  padding: 0;
}
body #topPart button {
  float: left;
  width: 333.33333333px;
  height: 150px;
  border: none;
  background-color: green;
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  padding: 0 0;
}
body #topPart button i .fa {
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
}
body #centerPart {
  width: 1000px;
  height: 1000px;
  background-color: white;
  margin: 0 auto;
}
body #centerPart #fieldProfile {
  width: 333px;
  height: 500px;
  border: 1px solid #289a1b;
  background-color: #b7f6cc;
  font-size: 25px;
  color: black;
  text-decoration: underline;
}
body #centerPart #fieldProfile p {
  margin-left: 10px;
}
body #bottomPart {
  width: 1000px;
  height: 150px;
  background-color: green;
  margin: 0 auto;
}
body #bottomPart button {
  float: left;
  width: 333.33333333px;
  height: 150px;
  border: none;
  background-color: green;
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  padding: 0 0;
}
body #bottomPart button i .fa {
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
}
