
nav {
    height: var(--d);
    display: flex;
    background-color: var(--dark-bg-color);
}
nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
}

nav ul a {
font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    height: 100%;
    display: block;
    padding: 0 10px;
    line-height: var(--d);
font-family: "Times New Roman", "";
    font-style: italic;
    text-transform: capitalize;
    font-variant: small-caps;
    letter-spacing: 0.1em;


}



nav ul a:hover {
    background-color: var(--light-bg-color);
    color: var(--dark-bg-color);
}